doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Galaga
    script(src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.min.js")
    

  body
    center
      script(src="/main.js")
    